{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Willkommen auf der Tools Webseite der Bergmannskapelle Buggingen e.V.</h2>
<p>Diese Seite stellt einige (hoffentlich) nützliche Werkzeuge zur Verfügung wie z.B.</p>
<ul>
    <li><a href="/konzertmeister/">Konzertmeister</a></li>
    <li>Zuschneiden von PDF Dateien</li>
</ul>

<p>Für etwaige Fragen stehen wir Ihnen gerne unter <a href="mailto:kontakt@bmk-buggingen.de">kontakt@bmk-buggingen.de</a> zur Verfügung.</p>
<br>
<p>Ihre Bergmannskapelle e.V.</p>



{% endblock %}